<ion-view view-title="OVERTREDING.BE">
    <ion-header-bar class="bar bar-subheader background-nav-bar">
        <img src="img/arrow-circle-left.png" class="icon-big icon-back" ng-click="goBack()"></img>
        <h1 class="title background-nav-bar">BOETE BEREKENEN</h1>
    </ion-header-bar>

    <ion-content class="has-subfooter">

        <div ng-repeat="offense in offenses track by $index">
            <div class="item-menu background-medium">OVERTREDING {{$index+1}}: {{offense.type | translateToDutch}}
                <img class="icon-right icon-small" src="img/cross.png" ng-click="removeOffense($index)"></img>
            </div>
        </div>

        <div ng-repeat="menuItem in menu track by $index" ng-init="currIndex = $index" ng-show="menuShown">
            <div class="item-group-underline background-light">
                {{menuItem.name}}
                <img class="icon-right icon-small"
                ng-src="{{isGroupShown(group) && 'img/arrow-square-down.png' || 'img/arrow-square-left.png'}}"></img>
            </div>
            <div class="paddded-horizontal">
                <div ng-class="$last ? 'item-subgroup-noline item-text-wrap' : 'item-subgroup-underline item-text-wrap'"
                ng-repeat="item in menuItem.items"
                ng-click="menuSubgroupTapped(item)"
                ng-show="groupShown(currIndex)">
                {{item}}
            </div>
        </div>
    </div>

    <div ng-show="showSearch">
        <div class="paddded-horizontal background-light container-relative">
            <div class="item-big background-light">
                <input type="text" ng-model="inputs.searchWord">
            </div>
            <div ng-click="search()" style="margin-top:8px" class="button-footer">
                ZOEK
                <img class="icon-small icon-square" src="img/arrow-square-right-blue.png"></img>
            </div>
        </div>

        <div class="paddded-horizontal">
            <div class="item-subgroup-noline item-text-wrap" ng-show="searchResults.length == 0">{{searchMessage}}</div>
            <div ng-class="$last ? 'item-subgroup-noline item-text-wrap' : 'item-subgroup-underline item-text-wrap'"
            ng-repeat="item in searchResults track by $index"
            ng-click="otherTapped(item)">
            {{item.description}}
        </div>
    </div>
</div>

<div ng-show="questionsShown" ng-repeat="group in questions" ng-init="groupIndex = $index">
    <div style="background-color: #68B3E2" class="paddded-horizontal background-light">
        <div ng-class="{'item-group-noline background-light' : group.toggled, 'item-group-underline background-light' : !group.toggled}">
            {{group.name | strLimit: 30 }}
            <img class="icon-right icon-small" ng-src="{{isGroupShown(group) && 'img/arrow-square-down.png' || 'img/arrow-square-left.png'}}"></img>
        </div>
    </div>
    <div class="paddded-horizontal">
        <div ng-class="$last ? 'item-subgroup-noline item-text-wrap fadein' : 'item-subgroup-underline item-text-wrap fadein'"
        ng-repeat="item in group.items"
        ng-click="subgroupTapped(item, group, $index); toggleBorder(group); changeShownGroup(groupIndex)"
        ng-show="groupShown(groupIndex)">
        {{item}}
    </div>
</div>
</div>

<div ng-show="showInput" class="background-light">
    <div class="paddded-horizontal background-light container-relative">
        <div class="item-group-underline background-light" style="border-bottom: none">
            <div>
                GEREDEN SNELHEID
            </div>
            <div>
                <textarea class="input-custom" type="number" pattern="\d*" ng-model="inputs.speed_driven" ng-change="calcSpeed()"></textarea>
                <!-- <input class="input-custom" type="text" ng-model="inputs.speed_driven" ng-change="calcSpeed()"> -->
            </div>
            <div class="test-3">KM/H</div>
        </div>
    </div>
    <div class="paddded-horizontal background-light container-relative">
        <div class="item-group-noline background-light">
            <div>
                GECORRIGEERDE SNELHEID
            </div>
            <div>
                <textarea class="input-custom" ng-model="inputs.speed_corrected" ng-change="calcSpeed2()"></textarea>

                <!-- <input class="input-custom" type="text" ng-model="inputs.speed_corrected" ng-change="calcSpeed2()"> -->
            </div>
            <div class="test-3">KM/H</div>
        </div>
    </div>
</div>
</ion-content>
</ion-view>

<ion-footer-bar class="bar-subfooter background-light" ng-click="createNewOffense()">
    <div class="item-group-underline background-light" style="margin-top:0px">
        VOEG EEN OVERTREDING TOE
        <img class="icon-right icon-small" src="img/plus.png" ng-click="createNewOffense()"></img>
    </div>
</ion-footer-bar>

<ion-footer-bar class="bar-footer footer-custom background-nav-bar">
    <div class="text-footer">
        BOETE BEREKENEN
    </div>
    <div ng-click="resultTapped()" class="button-footer">
        BEVESTIG
        <img class="icon-small icon-square" src="img/arrow-square-right-blue.png"></img>
    </div>
</ion-footer-bar>
</ion-view>
