<ion-view view-title="OVERTREDING.BE">
    <ion-header-bar class="bar bar-subheader background-nav-bar bar-subheader-custom">
        <i class="button-icon ion-chevron-left" ng-click="goBack()"></i>
        <h1 class="title background-nav-bar">BOETE BEREKENEN</h1>
    </ion-header-bar>
    <ion-content>
        <div>{{test}}</div>

        <div ng-repeat="offense in offenses track by $index">
            <ion-item class="item background-medium">Overtreding {{$index+1}}: {{offense.type}}</ion-item>
            <!-- <ion-item>{{item.licence}}</ion-item>
            <ion-item>{{item.age}}</ion-item>
            <ion-item>{{item.driver}}</ion-item>
            <ion-item>{{item.intoxication}}</ion-item> -->
        </div>

        <div ng-repeat="menuItem in menu">
            <ion-item class="item-stable" ng-click="menuItemTapped(menuItem)">
                {{menuItem}}
            </ion-item>
        </div>

        <div ng-show="showInput2">
            <label class="item item-input">
                <input type="text" placeholder="Search"  ng-model="inputs.searchWord">
            </label>
            <button ng-click="search()" class="button button-full button-positive">
                Search
            </button>
            <div class="card" ng-repeat="item in searchResults track by $index" ng-click="otherTapped(item)">
                <div class="item item-text-wrap">
                    {{item.description}}
                </div>
            </div>
        </div>



        <div ng-repeat="group in groups"
            ng-class="$last ? 'item item-group-noline background-medium' : 'item item-group-underline background-medium'">
            <div ng-click="toggleGroup(group)">
            {{group.name}}
            <i class="icon" style="float: right" ng-class="isGroupShown(group) ? 'ion-chevron-left' : 'ion-chevron-down'"></i>
            </div>
            <ion-item class="item item-group-underline background-medium"
          ng-repeat="item in group.items"
          ng-click="subgroupTapped(item, group, $index); toggleGroup(group)"
          ng-show="isGroupShown(group)">
          {{item}}
          </ion-item>
    </div>

<div ng-show="showInput">
    <label class="item item-input">
        <input type="text" placeholder="Speed Driven" ng-model="inputs.speed_driven" ng-change="calcSpeed()">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Speed Corrected" ng-model="inputs.speed_corrected">
    </label>
</div>


<button class="button button-full background-light" ng-click="addOffense()">
    ADD
</button>
<button class="button button-full background-light" ng-click="createNewOffense()">
    VOEG EEN OVERTREDING TOE
</button>
</ion-content>
</ion-view>
<ion-footer-bar class="bar-positive" align-title="left">
    <h1 class="title">BOETE BEREKENEN</h1>

    <button class="button" ng-click="resultTapped()">BEVESTIG ->></button>
</ion-footer-bar>
</ion-view>
