<ion-view view-title="Contact">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="form.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Phone" ng-model="form.phone">
            </label>
            <label class="item item-input">
                <textarea placeholder="E-mail"></textarea>
            </label>
            <label class="item item-input">
                <textarea placeholder="Postcode"></textarea>
            </label>
            <label class="item item-input">
                <textarea placeholder="Comments"></textarea>
            </label>
            <button class="button button-primary" ng-click="sendEmail()">
                Send Email
            </button>
        </div>
    </ion-content>
</ion-view>
