<ion-view view-title="OVERTREDING.BE" class="background-light">

<ion-header-bar class="bar bar-subheader background-nav-bar bar-subheader-custom">
    <img src="img/arrow-circle-left.png" class="icon-big icon-back" ng-click="goBack()"></img>
    <h1 class="title background-nav-bar">GRATIS JURIDISCH ADVIES</h1>
</ion-header-bar>

<ion-content class="padding">

<div class="item item-text-wrap item-noline" style="text-align: center">{{message}}</div>
<!-- <div>{{response}}</div> -->

<div class="text-undeline">Naam en Voornaam*</div>
<input class="textarea-small" rows="1" ng-model="form.name" key-focus></input>

<div class="text-undeline">Telefoonnummer*</div>
<input class="textarea-small" rows="1" ng-model="form.phone" key-focus></input>

<div class="text-undeline">E-Mail*</div>
<input class="textarea-small" rows="1" ng-model="form.email" key-focus></input>

<div class="text-undeline">Postcode*</div>
<input class="textarea-small" rows="1" ng-model="form.postcode" ng-change="getCity()" key-focus></input>

<div class="text-undeline">Bericht</div>
<textarea class="textarea-custom" style="margin-bottom:10px;" ng-model="form.comments" key-focus></textarea>

</ion-content>

<ion-spinner class="spinner-custom" icon="android" ng-show="spinnerShown"></ion-spinner>
<!-- <ion-footer-bar class="bar-footer background-light">
      <div ng-click="isDisabled||resultTapped()" class="button-footer" >
          BEVESTIG
          <img class="icon-small icon-square" src="img/arrow-square-right-blue.png"></img>
      </div>
  </ion-footer-bar> -->
<ion-footer-bar class="bar-footer background-light">
    <div class="center-container">
        <div ng-click="isDisabled||resultTapped()" class="button-footer">
            <div class="center-container">
                <div class="text-center">BEVESTIG</div>
                <img class="img-center" src="img/arrow-square-right-blue.png"></img>
            </div>
        </div>
    </div>
</ion-footer-bar>
</ion-view>
