<ion-view view-title="OVERTREDING.BE" class="background-light">

<ion-header-bar class="bar bar-subheader background-nav-bar bar-subheader-custom">
    <img src="img/arrow-circle-left.png" class="icon-big icon-back" ng-click="goBack()"></img>
    <h1 class="title background-nav-bar">GRATIS JURIDISCH ADVIES</h1>
</ion-header-bar>

<ion-content class="padding">

<div class="item item-text-wrap item-noline" style="text-align: center">Gelieve hieronder uw vraag te stellen.</br> U ontvangt dan zo snel mogelijk een gratis juridisch advies van een advocaat of jurist. Vanzelfsprekend worden uw gegevens vertrouwelijk behandeld. Wilt u een bijlage toevoegen, gelieve dan gebruik te maken van de module "u ontving een brief"</div>
<!-- <div>{{response}}</div> -->

<div class="text-undeline">Naam en Voornaam*</div>
<textarea class="textarea-small" ng-model="form.name" key-focus></textarea>

<div class="text-undeline">Telefoonnummer*</div>
<textarea class="textarea-small" ng-model="form.phone" key-focus></textarea>

<div class="text-undeline">E-Mail*</div>
<textarea class="textarea-small" ng-model="form.email" key-focus></textarea>

<div class="text-undeline">Postcode*</div>
<textarea class="textarea-small" ng-model="form.postcode" ng-change="getCity()" key-focus></textarea>

<div class="text-undeline">Bericht</div>
<textarea class="textarea-custom" ng-model="form.comments" key-focus></textarea>

</ion-content>

<ion-spinner class="spinner-custom" icon="android" ng-show="spinnerShown"></ion-spinner>
<ion-footer-bar class="bar-footer background-medium">
    <div class="center-container">
        <div ng-click="isDisabled||resultTapped()" class="button-footer">
            <div class="center-container">
                <div class="text-center">BEVESTIG</div>
                <img class="img-center" src="img/arrow-square-right-blue.png"></img>
            </div>
        </div>
    </div>
</ion-footer-bar>
</ion-view>
