<ion-view view-title="OVERTREDING.BE" class="background-medium">

    <ion-content>
        <div class="home-container">
        <div class="button-home" ui-sref="rights">UW RECHTEN BIJ EEN POLITIECONTROLE  <img class="icon-square icon-small" src="img/arrow-square-right-white.png"></div>
        <div class="button-home" ui-sref="calc-fine">BOETE BEREKENEN <img class="icon-square icon-small" src="img/arrow-square-right-white.png"></div>
        <div class="button-home" ui-sref="takepic">U ONTVING EEN BRIEF <img class="icon-square icon-small" src="img/arrow-square-right-white.png"></div>
        </div>
    </ion-content>
</ion-view>
