<ion-view view-title="OVERTREDING.BE" class="background-medium">

    <ion-content class="padding">
        <div class="test-5">
        <div class="button-home" ui-sref="rights">UW RECHTEN BIJ EEN POLITIECONTROLE  <img class="icon-big" src="../img/arrow-square-down.png"></div>
        <div class="button-home" ui-sref="calc-fine">BOETE BEREKENEN <img class="icon-big" src="../img/arrow-square-down.png"></div>
        <div class="button-home" ui-sref="takepic">U ONTVING EEN BRIEF <img class="icon-big" src="../img/arrow-square-down.png"></div>
        </div>
    </ion-content>
</ion-view>
