<ion-view view-title="OVERTREDING.BE" class="background-medium">
    <ion-content>
        <div class="home-container">
        <div class="button-home-underline" ui-sref="rights">
            <div class="test">
            <div >UW RECHTEN BIJ</div>
            <div >EEN POLITIECONTROLE</div>
        </div>
            <img class="icon-right icon-big" src="img/arrow-square-right-white.png"></div>
        <div class="button-home-underline" ui-sref="calc-fine">BOETE BEREKENEN
            <img class="icon-right icon-big" src="img/arrow-square-right-white.png"></div>
        <div class="button-home-underline" style="border: none" ui-sref="takepic">U ONTVING EEN BRIEF
            <img class="icon-right icon-big" src="img/arrow-square-right-white.png"></div>

        </div>
    </ion-content>
</ion-view>
