<ion-view view-title="OVERTREDING.BE" class="background-light">
<ion-header-bar class="bar bar-subheader background-nav-bar bar-subheader-custom">
    <img src="img/arrow-circle-left.png" class="icon-big icon-back" ng-click="goBack()"></img>
    <h1 class="title background-nav-bar">UW RECHTEN</h1>
</ion-header-bar>

<ion-content class="padding">

<div style="width:100%">
<div style="width:80%; margin-left:10%;">
<button class="button-rights-white"
        ng-class="{'button-white' : selected==2, 'button-blue' : selected==1}"
        ng-click="showAlch()">
    ALCOHOL<br>CONTROLE
</button>
<button class="button-rights-blue"
        style="float:right"
        ng-class="{'button-white': selected==1, 'button-blue': selected==2}"
        ng-click="showDrugs()">
    DRUGS<br>CONTROLE
</button>
</div>
</div>

<div ng-repeat="item in items"
    class='item item-text-wrap'
    ng-class="$last ? 'item-noline' : 'item-underline'" ng-bind-html="item.body" html-safe>
</div>

</ion-content>

<ion-footer-bar class="bar-footer background-nav-bar">
    <div class="center-container">
        <div class="text-center text-footer"
            ng-click="goToContact()">
            GRATIS JURIDISCH ADVIES
        </div>
        <div class="icon-footer-container"
            ng-click="goToContact()">
            <img class="icon-big icon-footer" src="img/arrow-square-right-white.png"></img>
        </div>
    </div>
</ion-footer-bar>
</ion-view>
