<ion-view view-title="UW RECHTEN BIJ EEN POLITIECONTROLE" class="background-2">
    <ion-content class="padding">
        <button class="button button-custom-2" ng-click="showAlch()">
            ALCHOHOL CONTROLE
        </button>
        <button class="button button-custom-2" ng-click="showDrugs()">
            DRUGS CONTROLE
        </button>
        <div ng-repeat="item in items">
            <div class="item item-text-wrap card-custom">
                {{item.body}}
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive">
        <div class="buttons" ng-click="showConfirm()">
            <button class="button" ui-sref="contact">VAAG GRATIS JURIDISCH ADVIES</button>
        </div>
    </ion-footer-bar>
</ion-view>
