<ion-view view-title="OVERTREDING.BE">
    <ion-header-bar class="bar bar-subheader background-nav-bar bar-subheader-custom">
        <img src="img/arrow-circle-left.png" class="icon-big icon-back" ng-click="goBack()"></img>
        <h1 class="title background-nav-bar">BRIEF</h1>
    </ion-header-bar>
    <ion-content>
        <div ng-repeat="item in items track by $index">
            <div class="item-menu background-medium">
                <span>FOTO {{$index+1}}</span>
                <img class="icon-right icon-small" src="img/cross.png" ng-click="removePhoto($index)"></img>
            </div>
            <img class="picImg" ng-src="{{item}}"/>

            <!-- <div>{{item}}</div> -->
        </div>
        <!-- <div ng-repeat="imgUri in imgUris">
            <div>imgUri</div>
            <img class = "picImg" ng-src="imgUri">
        </div> -->
  </ion-content>
  <ion-footer-bar class="bar-subfooter background-light" ng-click="addPhoto()">
      <div class="item-group-underline background-light add-fine-container">
          VOEG EEN FOTO TOE
          <img class="icon-right icon-small icon-add-fine" src="img/plus.png" ng-click="createNewOffense()"></img>
      </div>
  </ion-footer-bar>
  <ion-footer-bar class="bar-footer background-nav-bar">
      <div ng-click="goToContact()" class="text-footer">
          GRATIS JURIDISCH ADVIES
      </div>
      <div ng-click="goToContact()" class="icon-footer-container">
          <img class="icon-big icon-footer" src="img/arrow-square-right-white.png"></img>
      </div>
  </ion-footer-bar>
</ion-view>
