<ion-view view-title="OVERTREDING.BE">
    <ion-header-bar class="bar bar-subheader background-nav-bar bar-subheader-custom">
        <i class="button-icon ion-chevron-left" ng-click="goBack()"></i>
        <h1 class="title background-nav-bar">BRIEF</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <button class="button button-full button-positive" ng-click="getPhoto()">
            Take pic
        </button>
        <img ng-src="{{src}}" id="smallimage">

    </ion-content>
</ion-view>
