@font-face {
    font-family: "AvenrirNext";
    src: url("../fonts/YOXALL__.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.item-big, .item-menu, .button-home-underline, .button-underline, .item-underline, .item-noline, .background-nav-bar, .background-light, .item-group-underline, .item-group-noline{
    font-family: "AvenrirNext";
    color:white;
}

.icon-back{
    height: 25px;
    width: 25px;
}

.home-container{
    padding: 0px 15px 0px 15px;
    position: absolute;
    width: 100%;
    top:250px;
}

.button-home-underline{
    font-size: 17px;
    padding: 15px 0px 15px 0px;
    border: 1px solid white;
}

.item-menu{
    font-size: 14px;
    height: 35px;
    padding: 8px 15px 8px 15px;
}

.item-group-underline{
    font-size: 13px;
    border: 1px solid white;
    padding: 12px;
    height: 40px;
}

.item-group-noline{
    font-size: 13px;
    padding: 12px;
    height: 40px;
}

.item-subgroup-underline, .item-subgroup-noline{
    font-family: "AvenrirNext";
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0px 5px 0px;
    border:1px solid black;
}

.button-underline, .item-underline, .item-noline {
    text-align: center;
    background-color: transparent;
    border-color: white;
}

.button-underline, .button-home-underline, .item-underline, .item-group-underline, .item-subgroup-underline{
    border-top: none;
    border-left: none;
    border-right: none;
}

.item-noline, .item-group-noline, .item-subgroup-noline, .button-home-noline{
    border:none;
}


.button-footer{
    font-family: "AvenrirNext";
    padding: 0px 45px 0px 10px;
    font-size: 13px;
    height: 24px;
    line-height: 26px;
    color: black;
    background-color: white;
    position: absolute;
    top:10px;
    right:15px;
}

.button-footer img{
    position: absolute;
    top:4px;
    right:10px;
}
.text-undeline{
    margin-bottom: 10px;
    margin-top: 15px;
    padding:5px;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: "AvenrirNext";
    color:white;
}

.popup-body, .popup-head, .popup-title{
    color:white;
}

.popup-body, .popup-head, .popup-buttons{
    background-color : #0089D2;
}

.popup-buttons .button{
    background-color : white;
    color: black;
}

.icon-right{
    float:right;
}

.icon-small{
    width: 16px;
    height: 16px;
}

.icon-big{
    width: 20px;
    height: 20px;
}

.icon-back{
    margin:5px;
}

.background-nav-bar{
    background-color: #0089D2;
}

.background-medium{
    background-color: #43A0DC;
}

.background-light{
    background-color: #68B3E2;
}

.paddded-horizontal{
    border:none;
    padding-left: 20px;
    padding-right: 20px;
}

.container-relative{
    position: relative;
}

.item-big{
    font-size: 13px;
    padding: 12px;
    height: 60px;
}

.input-custom{
    position: absolute;
    top:8px;
    right:90px;
    width: 50px;
    border-radius: 0px;
}

.test-3{
    position: absolute;
    top:8px;
    right:40px;
}
.footer-custom{
    font-size: 17px;
    border: none !important;
}

.textarea-custom{
    height: 100px;
}
.button-custom-2, .button-custom-4{
    width:37%;
    margin-top:5px;
    margin-bottom: 10px;
    margin-left: 30px;
    border:none;
    height: 60px;
    font-weight: 600;
}

.button-custom-2 {
    color: white;
    background-color: #1E91D5;
}

.button-custom-4{
    color: #1E91D5;
    background-color: white;
}

.padded{
    padding: 10px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
    .picImg{
        width: 100%;
        height: 100%;
        border: none;
    }
    .button-home-underline{
         float: left;
         width: 100%
    }
    .test{
        width: 70%;
        position: absolute;
        top:0px;
        overflow: hidden;
    }
    .text-footer{
        padding-left: 15px;
        line-height: 37px;
    }
    .icon-footer{
        margin-left: 20px;
        margin-top: 8px;
    }
}

@media only screen
and (min-device-width : 0px)
and (max-device-width : 374px)
and (orientation : portrait) {
    .picImg{
        width: 100%;
        height: 100%;
        border: none;
    }
    .button-home-underline{
         float: left;
         width: 100%
    }
    .test{
        width: 70%;
        position: absolute;
        top:0px;
        overflow: hidden;
    }
    .text-footer{
        padding-left: 15px;
        line-height: 37px;
    }
    .icon-footer{
        margin-left: 20px;
        margin-top: 8px;
    }
}
