@font-face {
    font-family: "AvenrirNext";
    src: url("../fonts/Florsn01.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.button-underline, .button-noline, .item-underline, .item-noline, .item-group-underline, .item-group-noline, .background-nav-bar{
    font-family: "AvenrirNext";
    color:white;
}

.button-underline, .button-noline, .item-underline, .item-noline, .item-group-underline, .item-group-noline{
    background-color: transparent;
    border-color: white;
}

.button-underline{
    border-top: none;
    border-left: none;
    border-right: none;
}

.button-noline{
    border:none;
}

.item-underline{
    border-top: none;
    border-left: none;
    border-right: none;
}

.item-noline{
    border:none;
}
.test{
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.test-2{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #68B3E2;
}
.item-group-underline{
    border-top: none;
    border-left: none;
    border-right: none;
}
.item-group-noline{
    border:none;
}

.item-subgroup-underline{
    border:1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.item-subgroup-noline{
    border:none;
}


.button-custom-2 {
    margin-left: 20px;
    margin-right: 10px;
    width: 40%;
    height: 75px;
    border-color: white;
    color: white;
    background-color: #1E91D5;
}

.background-nav-bar{
    font-size: 18px;
    background-color: #0089D2;
}
.background-medium{
    color: white;
    background-color: #43A0DC;
}
.background-light{
    color:white;
    background-color: #68B3E2;
}
.background-transp{
    background-color: transparent;
}
