@font-face {
    font-family: "AvenrirNext";
    src: url("../fonts/YOXALL__.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
.icon-circle-left,.icon-square, .icon-square-down-white, .icon-square-left-white{
    width: 18px;
    height: 18px;
}
.icon-square{
    float: right;
}

.test-1{
    position: relative;
}

.input-custom{
    width: 50px;
    border-radius: 0px;
}

.test-2{
    position: absolute;
    top:8px;
    right:30px;
}
.test{
    padding: 5px !important;
    padding-left: 15px !important;
}
.button-underline, .button-noline, .item-underline, .item-noline, .background-nav-bar, .background-medium, .background-light, .item-group, .item-group-small, .input-label{
    font-family: "AvenrirNext";
    color:white;
}

.button-underline, .button-noline, .item-underline, .item-noline {
    background-color: transparent;
    border-color: white;
}

.button-underline, .item-underline, .item-group-underline{
    border-top: none;
    border-left: none;
    border-right: none;
}

.button-noline, .item-noline, .item-group-noline{
    border:none;
}

.item-group{
    font-size: 13px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 15px;
    height: 45px;
}

.item-menu{
    font-family: "AvenrirNext";
    font-size: 14px;
    position: relative;
    height: 35px;
    padding: 8px 15px 8px 15px;
}

.item-subgroup-underline{
    font-family: "AvenrirNext";
    font-size: 12px;
    text-align: center;
    border:1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.item-subgroup-noline{
    font-family: "AvenrirNext";
    font-size: 12px;
    text-align: center;
    border:none;
}

.padded{
    padding: 10px;
}

.paddded-horizontal{
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

.button-custom-2 {
    margin-left: 20px;
    margin-right: 10px;
    width: 40%;
    height: 75px;
    border-color: white;
    color: white;
    background-color: #1E91D5;
}

.background-nav-bar{
    background-color: #0089D2;
}
.background-medium{
    background-color: #43A0DC;
}
.background-light{
    color:white;
    background-color: #68B3E2;
}
.background-transp{
    background-color: transparent;
}
