<ion-view view-title="BOETE BEREKENEN">
    <ion-content>
        <div>{{test}}</div>
        <div>
            <div ng-repeat="offense in offenses track by $index">
                <ion-item href="#/result/{{$index}}">Overtreding {{$index+1}}: {{offense.type}}</ion-item>
                <!-- <ion-item>{{item.licence}}</ion-item>
                <ion-item>{{item.age}}</ion-item>
                <ion-item>{{item.driver}}</ion-item>
                <ion-item>{{item.intoxication}}</ion-item> -->
            </div>
        </div>
        <div ng-repeat="menuItem in menu" ng-show="showMenu">
            <ion-item class="item-stable" ng-click="menuItemTapped(menuItem)">
                {{menuItem}}
            </ion-item>
        </div>
        <div ng-repeat="group in groups">
            <ion-item class="item-stable"
            ng-click="toggleGroup(group)"
            ng-class="{active: isGroupShown(group)}">
            <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            {{group.name}}
        </ion-item>
        <ion-item class="item-accordion"
        ng-repeat="item in group.items"
        ng-click="subgroupTapped(item, group, $index); toggleGroup(group)"
        ng-show="isGroupShown(group)">
        {{item}}
    </ion-item>
</div>
<div ng-show="showInput">
    <label class="item item-input">
        <input type="text" placeholder="Speed Driven">
    </label>
    <input type="text" id="form_course_name" ng-model="course.edit_course_name">
</div>
<div class="list card" id="startCard" ng-show="showSearch" ng-controller="CalcFineController">

    <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="wtf">
    </label>
    <button ng-click="search()" class="button button-full button-calm">
        Search
    </button>
    <div class="card" ng-repeat="item in items track by $index">
        <div class="item item-text-wrap">
            {{item}}
        </div>
    </div>
</div>
<button class="button button-full button-positive" ng-click="addOffense()">
    ADD
</button>
<button class="button button-full button-positive" ng-click="createNewOffense()">
    VOEG EEN OVERTREDING TOE
</button>

<!-- <button ng-click="hideCard()" class="button button-full button-calm button icon-right ion-chevron-right">
Show
</button> -->

</ion-content>
</ion-view>
<ion-footer-bar align-title="left" class="bar-positive">
    <div>BOETE BEREKENEN</div>
    <button class="button" ui-sref="result">BEVESTIG ->></button>
</ion-footer-bar>
</ion-view>
