<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <a class="button button-positive" ui-sref="home">Home</a>
        <button class="button button-positive" ng-click="doStuff()">
            Do Stuff
        </button>
        <div class="list card">
            <div class="item item-divider">Server response</div>
            <div class="item item-body">
                <div>
                    {{succ}}
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Response Lenght</div>
            <div class="item item-body">
                <div>
                    {{log}}
                </div>
            </div>
        </div>

        <ion-list>
            <div ng-repeat="item in items">
            <ion-item href="#/result/{{$index}}">{{item.body}}</ion-item>
        </div>
        </ion-list>

    </ion-content>
</ion-view>
