<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <a class="button button-positive" ui-sref="rights">UM RECHTEN BIJ EEN POLITIECONTROLE</a>\
        <a class="button button-positive" ui-sref="alcohol">BOETE BEREKENEN</a>
        <button class="button button-positive">
            U ONTVING EEN BRIEF
        </button>
        <div class="card" ng-repeat="item in items">
            <div class="item item-text-wrap">
                {{item.id}}
            </div>
        </div>
    </ion-content>
</ion-view>
